<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronos" version="0.8.4" targetFramework="net48" />
  <package id="DevExpress.Data" version="23.2.5" targetFramework="net48" />
  <package id="DevExpress.Win.WinterJoySkin" version="1.0.2" targetFramework="net48" />
  <package id="Durandal" version="2.2.0" targetFramework="net48" />
  <package id="Durandal.Transitions" version="2.2.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="jQuery" version="1.9.1" targetFramework="net48" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net48" />
  <package id="RequireJS" version="2.1.11" targetFramework="net48" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="Vanara.Core" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.AclUI" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.ComCtl32" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.CredUI" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Cryptography" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.DwmApi" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Gdi32" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Kernel32" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Mpr" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.NTDSApi" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Ole" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Rpc" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.SearchApi" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Security" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shared" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shell32" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.ShlwApi" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.User32" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.PInvoke.UxTheme" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.Security" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.Windows.Extensions" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.Windows.Forms" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.Windows.Shell" version="4.0.1" targetFramework="net48" />
  <package id="Vanara.Windows.Shell.Common" version="4.0.1" targetFramework="net48" />
</packages>